.bg-img {
    position: absolute;
    z-index: -1;
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.start-img-2 {
    width: 250px;
}

.start-message {
    font-family: "Chewy", system-ui;
    color: #DB7EA7;
    text-shadow: 
    -1px -1px 0 #842B57,
    0 -1px 0 #842B57,
    1px -1px 0 #842B57,
    1px 0 0 #842B57,
    1px 1px 0 #842B57,
    0 1px 0 #842B57,
    -1px 1px 0 #842B57,
    -1px 0 0 #842B57;
    font-size: 60px;
    margin: 0;
}

button {
    font-family: "Chewy", system-ui;
    border: solid rgb(101, 31, 73) 1.5px;
    border-radius: 20px;
    font-size: 30px;
    width: 160px;
    height: 50px;
    color: #FFF4F8;
    text-shadow: 
    -1px -1px 0 #842B57,
    -1px 0 0 #852354,
    0 -1px 0 #842B57,
    1px 1px 0 #842B57,
    0 1px 0 #842B57,
    1px 0 0 #842B57,
    1px -1px 0 #842B57,
    -1px 1px 0 #842B57;
    background-color: #F4ABCC;
}

button:hover {
    color: #DB7EA7;
    transform: scale(0.98);
    text-shadow: 
    -1px -1px 0 #ffffff,
    -1px 0 0 #ffffff,
    0 -1px 0 #ffffff,
    1px 1px 0 #ffffff,
    0 1px 0 #ffffff,
    1px 0 0 #ffffff,
    1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff;
    border: #FFF4F8;
}

span:hover{
    color: #FFF4F8;
}
@media (max-width:780px) {
    body {
        background: url("images/ipad.jpg") center/cover no-repeat fixed;
    }
    .bg-imgs{
        display: none;
    }
    .start-img-2 {
        width: 150px;
    }
    .start-message {
        font-size: 40px;
    }
    button {
        font-size: 24px;
        width: 140px;
        height: 45px;
    }
}
